// Import Bootstrap
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";


// Custom Bootstrap variables
$primary: #007bff;
$secondary: #6c757d;
$card-bg: #fff;
$enable-rounded: false;

.custom-card {
    max-width: 600px;
    margin: auto;
    background-color: $card-bg;
    
}

.loading-svg {
    animation: spin 1s linear infinite;
    transform-origin: center;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.tab-content {
    .row {
        display: flex;
        align-items: center;
    }
    .col-md-6 {
        flex: 1;
        max-width: 50%;
    }
    img {
        width: 100%;
        height: auto;
        max-height: 150px; 
        object-fit: cover;
    }
}



.nav-tabs {
    border-bottom: none;
    border-radius: 0; 
    gap: 10px;
  
    .nav-link {
        color: $gray-600;
        background-color: $gray-300;
        border-radius: 0;
        padding-left: 20px;
        padding-right: 20px;

        &.active {
            color: gray-dark;
            background-color: white
        }

        &.disabled {
            background-color: lighten($gray-800, 10%);
            color: gray-400;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

#tab2 {
    min-height: 228px;
}



@media (max-width: 768px) {
    .custom-card {
        max-width: 100%;
    }
    .nav-tabs {
        flex-direction: column;
    }
    .tab-content .row {
        flex-direction: column;
    }
    .tab-content .col-md-6 {
        max-width: 100%;
    }
}
